<html>
  <head>

    <link href="assets/style.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <h1>Hello World</h1>

    <form method="POST" action="/person">

      First name: <input type="text" id="firstname" name="firstname" /><br />
      Last Name: <input type="text" id="lastname" name="lastname" />
      <input type="submit" value="Submit"/>
    </form>

  </body>
</html>
